openapi: 3.1.0
info:
  title: Loyalty Operations Customer Actions Orders API
  version: 3.0.0
  x-provenance:
    generated: '2026-07-21'
    method: searched
    source: https://developers.stamped.io/reference/ (embedded OpenAPI per operation)
  description: Stamped V3 Loyalty Operations API. Harvested by API Evangelist from the per-operation OpenAPI definitions published at https://developers.stamped.io/reference/.
servers:
- url: https://stamped.io
security:
- StampedApiKeyAuth: []
tags:
- name: Orders
paths:
  /api/v3/merchant/shops/{shopId}/orders:
    parameters:
    - name: shopId
      in: path
      description: ShopId (storeHash)
      required: true
      schema:
        type: string
    post:
      tags:
      - Orders
      summary: Create Order
      operationId: createOrder
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
    get:
      tags:
      - Orders
      summary: Filter Orders
      operationId: filterOrders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaginatedOrders'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /api/v3/merchant/shops/{shopId}/orders/{orderId}:
    parameters:
    - name: shopId
      in: path
      description: The shopId, or storeHash associated with Stamped account
      required: true
      schema:
        type: string
    - name: orderId
      in: path
      description: The orderId generated by Stamped on order creation
      required: true
      schema:
        type: string
    delete:
      tags:
      - Orders
      summary: Delete Order
      operationId: deleteOrder
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  softDelete:
                    type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
    get:
      tags:
      - Orders
      summary: Get Order
      operationId: getOrder
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
    patch:
      tags:
      - Orders
      summary: Update Order
      operationId: updateOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCartRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /api/v3/merchant/shops/{shopId}/orders/lookup:
    parameters:
    - name: shopId
      in: path
      description: The shopId, or storeHash associated with Stamped account
      required: true
      schema:
        type: string
    - in: query
      name: customOrderId
      schema:
        type: string
      description: Custom OrderId to lookup Order by
    - in: query
      name: shopifyId
      description: If Shopify, a matching shopifyId
      required: false
      schema:
        type: string
    - in: query
      name: bigcommerceId
      description: If BigCommerce, a matching bigcommerceId
      required: false
      schema:
        type: string
    get:
      tags:
      - Orders
      summary: Lookup Order
      operationId: lookupOrder
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
components:
  schemas:
    OrderEntry:
      type: object
      properties:
        cartHash:
          type: string
        event:
          type: string
        date:
          type: string
    OrderCart:
      type: object
      properties:
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
        financialStatus:
          type: string
        fulfillmentStatus:
          type: string
        discountsApplied:
          type: array
          items:
            $ref: '#/components/schemas/DiscountApplied'
        customerCurrency:
          type: string
        customerPriceDiscountTotal:
          type: string
        customerPriceItemsTotal:
          type: string
        customerPriceSubTotal:
          type: string
        customerPriceTotal:
          type: string
        customerPriceShipping:
          type: string
        customerPriceTax:
          type: string
        shopCurrency:
          type: string
        shopPriceDiscountTotal:
          type: string
        shopPriceItemsTotal:
          type: string
        shopPriceSubTotal:
          type: string
        shopPriceTotal:
          type: string
        shopPriceShipping:
          type: string
        shopPriceTax:
          type: string
    PaginatedOrders:
      type: object
      properties:
        page:
          type: number
        limit:
          type: number
        morePages:
          type: boolean
        subset:
          type: boolean
        orders:
          type: array
          items:
            $ref: '#/components/schemas/OrderResponse'
    DiscountApplied:
      type: object
      properties:
        code:
          type: string
        amount:
          type: string
        type:
          type: string
    OrderCartRequest:
      type: object
      properties:
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/CartItemRequest'
        financialStatus:
          type: string
        fulfillmentStatus:
          type: string
        discountsApplied:
          type: array
          items:
            $ref: '#/components/schemas/DiscountApplied'
        shopCurrency:
          type: string
        shopPriceDiscountTotal:
          type: string
        shopPriceItemsTotal:
          type: string
        shopPriceSubTotal:
          type: string
        shopPriceTotal:
          type: string
        shopPriceShipping:
          type: string
        shopPriceTax:
          type: string
    OrderRequest:
      type: object
      properties:
        customOrderId:
          type: string
        customCustomerId:
          type: string
        customerId:
          type: string
        cart:
          $ref: '#/components/schemas/OrderCartRequest'
        tags:
          type: array
          items:
            type: string
    ErrorMessage:
      type: object
      properties:
        message:
          type: string
    CartItem:
      type: object
      properties:
        productId:
          type: string
        variantId:
          type: string
        customProductId:
          type: string
        customVariantId:
          type: string
        shopifyProductId:
          type: string
        shopifyVariantId:
          type: string
        bigcommerceProductId:
          type: string
        bigcommerceVariantId:
          type: string
        name:
          type: string
        giftCard:
          type: string
        quantity:
          type: string
        sku:
          type: string
        title:
          type: string
        variantTitle:
          type: string
        fulfillmentStatus:
          type: string
        price:
          type: string
        taxable:
          type: string
    OrderResponse:
      type: object
      properties:
        orderId:
          type: string
        accountId:
          type: string
        shopId:
          type: string
        customerId:
          type: string
        shopifyId:
          type: string
        bigcommerceId:
          type: string
        customOrderId:
          type: string
        currency:
          type: string
        referringSite:
          type: string
        sourceName:
          type: string
        sourceUrl:
          type: string
        clientAcceptLanguage:
          type: string
        clientUserAgent:
          type: string
        clientIp:
          type: string
        datePlatformCreated:
          type: string
        datePlatformUpdated:
          type: string
        dateStampedCreated:
          type: string
        dateStampedUpdated:
          type: string
        orderEntries:
          type: array
          items:
            $ref: '#/components/schemas/OrderEntry'
        cartStates:
          type: array
          items:
            $ref: '#/components/schemas/OrderCart'
        discountApplications:
          type: string
        tags:
          type: array
          items:
            type: string
    CartItemRequest:
      type: object
      properties:
        productId:
          type: string
        variantId:
          type: string
        customProductId:
          type: string
        customVariantId:
          type: string
        name:
          type: string
        giftCard:
          type: string
        quantity:
          type: string
        sku:
          type: string
        title:
          type: string
        variantTitle:
          type: string
        fulfillmentStatus:
          type: string
        price:
          type: string
        taxable:
          type: string
  securitySchemes:
    StampedApiKeyAuth:
      type: apiKey
      in: header
      name: stamped-api-key
