openapi: 3.1.0
info:
  title: Loyalty Operations Customer Actions Program Reporting API
  version: 3.0.0
  x-provenance:
    generated: '2026-07-21'
    method: searched
    source: https://developers.stamped.io/reference/ (embedded OpenAPI per operation)
  description: Stamped V3 Loyalty Operations API. Harvested by API Evangelist from the per-operation OpenAPI definitions published at https://developers.stamped.io/reference/.
servers:
- url: https://stamped.io
security:
- StampedApiKeyAuth: []
tags:
- name: Program Reporting
paths:
  /api/v3/loyalty/shops/{shopId}/activities:
    get:
      tags:
      - Program Reporting
      summary: Filter Activities
      operationId: loyalty-reports-activities
      parameters:
      - in: path
        name: shopId
        schema:
          type: string
        required: true
        description: The unique identifier of the shop.
      - in: query
        name: page
        schema:
          type: number
          default: 0
        required: false
        description: The pagination page number to load.
      - in: query
        name: limit
        schema:
          type: number
          default: 25
        required: false
        description: The number or results per page.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedActivities'
        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /api/v3/loyalty/shops/{shopId}/rewards:
    get:
      tags:
      - Program Reporting
      summary: Filter Rewards
      operationId: loyalty-reports-rewards
      parameters:
      - in: path
        name: shopId
        schema:
          type: string
        required: true
        description: The unique identifier of the shop.
      - in: query
        name: page
        schema:
          type: number
          default: 0
        required: false
        description: The pagination page number to load.
      - in: query
        name: limit
        schema:
          type: number
          default: 25
        required: false
        description: The number or results per page.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRewards'
        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
components:
  schemas:
    PaginatedActivities:
      type: object
      properties:
        page:
          type: number
        limit:
          type: number
        morePages:
          type: boolean
        subset:
          type: boolean
        activities:
          type: array
          items:
            $ref: '#/components/schemas/ActivityResponse'
    ErrorMessage:
      type: object
      properties:
        message:
          type: string
    ActivityResponse:
      type: object
      properties:
        activityId:
          type: string
        customerId:
          type: string
        dateCreated:
          type: string
        rule:
          type: object
          properties:
            category:
              type: string
            type:
              type: string
            title:
              type: string
            description:
              type: string
        activity:
          type: object
          properties:
            pointsDebit:
              type: number
            pointsCredit:
              type: number
            event:
              type: string
            orderId:
              type: string
            orderBreakdown:
              type: object
              properties:
                totalSpent:
                  type: number
                totalSpentWithExclusions:
                  type: number
                totalShipping:
                  type: number
                totalTax:
                  type: number
                totalDiscount:
                  type: number
                totalRefunded:
                  type: number
    PaginatedRewards:
      type: object
      properties:
        page:
          type: number
        limit:
          type: number
        morePages:
          type: boolean
        subset:
          type: boolean
        rewards:
          type: array
          items:
            $ref: '#/components/schemas/RewardResponse'
    RewardResponse:
      type: object
      properties:
        rewardId:
          type: string
        activityId:
          type: string
        customerId:
          type: string
        status:
          type: string
        title:
          type: string
        description:
          type: string
        couponCode:
          type: string
        category:
          type: string
        type:
          type: string
        value:
          type: string
        dateCreated:
          type: string
        dateOfExpiry:
          type: string
  securitySchemes:
    StampedApiKeyAuth:
      type: apiKey
      in: header
      name: stamped-api-key
