openapi: 3.1.0
info:
  title: Loyalty Operations Customer Actions Products API
  version: 3.0.0
  x-provenance:
    generated: '2026-07-21'
    method: searched
    source: https://developers.stamped.io/reference/ (embedded OpenAPI per operation)
  description: Stamped V3 Loyalty Operations API. Harvested by API Evangelist from the per-operation OpenAPI definitions published at https://developers.stamped.io/reference/.
servers:
- url: https://stamped.io
security:
- StampedApiKeyAuth: []
tags:
- name: Products
paths:
  /api/v3/merchant/shops/{shopId}/products:
    parameters:
    - name: shopId
      in: path
      description: ShopId (storeHash)
      required: true
      schema:
        type: string
    post:
      tags:
      - Products
      summary: Create Product
      operationId: createProduct
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductRequest'
    get:
      parameters:
      - name: shopifyId
        in: query
        description: Shopify Id
        required: false
        schema:
          type: string
      - name: bigcommerceId
        in: query
        description: Bigcommerce Id
        required: false
        schema:
          type: string
      - name: customProductId
        in: query
        description: Custom Product Id
        required: false
        schema:
          type: string
      - name: publishedScope
        in: query
        description: Published Scope
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: Product status
        required: false
        schema:
          type: string
      - name: title
        in: query
        description: Product title
        required: false
        schema:
          type: string
      - name: vendor
        in: query
        description: Product vendor
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: Product type
        required: false
        schema:
          type: string
      - name: handle
        in: query
        description: Product handle
        required: false
        schema:
          type: string
      - name: tags
        in: query
        description: Product tags
        required: false
        schema:
          type: array
          items:
            type: string
      tags:
      - Products
      summary: Filter Products
      operationId: filterProducts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaginatedProducts'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /api/v3/merchant/shops/{shopId}/products/{productId}:
    parameters:
    - name: shopId
      in: path
      description: The shopId, or storeHash associated with Stamped account
      required: true
      schema:
        type: string
    - name: productId
      in: path
      description: The productId generated by Stamped on product creation
      required: true
      schema:
        type: string
    delete:
      tags:
      - Products
      summary: Delete Product
      operationId: deleteProduct
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  softDelete:
                    type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
    get:
      tags:
      - Products
      summary: Get Product
      operationId: getProduct
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
    patch:
      tags:
      - Products
      summary: Update Product
      operationId: updateProduct
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductRequest'
  /api/v3/merchant/shops/{shopId}/products/lookup:
    parameters:
    - name: shopId
      in: path
      description: The shopId, or storeHash associated with Stamped account
      required: true
      schema:
        type: string
    - in: query
      name: customProductId
      schema:
        type: string
      description: Custom ProductId to lookup product by
    - in: query
      name: shopifyId
      description: If Shopify, a matching shopifyId
      required: false
      schema:
        type: string
    - in: query
      name: bigcommerceId
      description: If BigCommerce, a matching bigcommerceId
      required: false
      schema:
        type: string
    get:
      tags:
      - Products
      summary: Lookup Product
      operationId: lookupProduct
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
components:
  schemas:
    ProductImage:
      type: object
      properties:
        variantMatches:
          type: array
          items:
            type: string
        position:
          type: string
        altText:
          type: string
        width:
          type: string
        height:
          type: string
        urlSrc:
          type: string
    ProductRequest:
      type: object
      properties:
        customProductId:
          type: string
        publishedScope:
          type: string
        status:
          type: string
        title:
          type: string
        htmlProductDescription:
          type: string
        vendor:
          type: string
        type:
          type: string
        handle:
          type: string
        datePublished:
          type: string
        datePlatformUpdated:
          type: string
        tags:
          type: array
          items:
            type: string
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ProductVariantRequest'
        images:
          type: array
          items:
            $ref: '#/components/schemas/ProductImage'
    ProductVariantRequest:
      type: object
      properties:
        customVariantId:
          type: string
        title:
          type: string
        price:
          type: string
        sku:
          type: string
        position:
          type: string
        taxable:
          type: string
        barcode:
          type: string
        weight:
          type: string
        weightUnit:
          type: string
        requiresShipping:
          type: string
        inventoryQuantity:
          type: string
    ErrorMessage:
      type: object
      properties:
        message:
          type: string
    ProductResponse:
      type: object
      properties:
        productId:
          type: string
        accountId:
          type: string
        shopId:
          type: string
        shopifyId:
          type: string
        bigcommerceId:
          type: string
        customProductId:
          type: string
        publishedScope:
          type: string
        status:
          type: string
        title:
          type: string
        htmlProductDescription:
          type: string
        vendor:
          type: string
        type:
          type: string
        handle:
          type: string
        datePublished:
          type: string
        datePlatformCreated:
          type: string
        datePlatformUpdated:
          type: string
        dateStampedCreated:
          type: string
        dateStampedUpdated:
          type: string
        tags:
          type: array
          items:
            type: string
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ProductVariantResponse'
        images:
          type: array
          items:
            $ref: '#/components/schemas/ProductImage'
    ProductVariantResponse:
      type: object
      properties:
        customVariantId:
          type: string
        shopifyVariantId:
          type: string
        bigcommerceVariantId:
          type: string
        title:
          type: string
        price:
          type: string
        sku:
          type: string
        position:
          type: string
        taxable:
          type: string
        barcode:
          type: string
        grams:
          type: string
        weight:
          type: string
        weightUnit:
          type: string
        requiresShipping:
          type: string
        inventoryPolicy:
          type: string
        inventoryManagement:
          type: string
        inventoryQuantity:
          type: string
    PaginatedProducts:
      type: object
      properties:
        page:
          type: number
        limit:
          type: number
        morePages:
          type: boolean
        subset:
          type: boolean
        products:
          type: array
          items:
            $ref: '#/components/schemas/ProductResponse'
  securitySchemes:
    StampedApiKeyAuth:
      type: apiKey
      in: header
      name: stamped-api-key
