{
  "openapi": "3.1.0",
  "info": {
    "title": "Merchant Data",
    "version": "3.0.0",
    "x-provenance": {
      "generated": "2026-07-21",
      "method": "searched",
      "source": "https://developers.stamped.io/reference/ (embedded OpenAPI per operation)"
    },
    "description": "Stamped V3 Merchant Data API. Harvested by API Evangelist from the per-operation OpenAPI definitions published at https://developers.stamped.io/reference/."
  },
  "servers": [
    {
      "url": "https://stamped.io"
    }
  ],
  "security": [
    {
      "StampedApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/v3/merchant/shops/{shopId}/customers": {
      "parameters": [
        {
          "name": "shopId",
          "in": "path",
          "description": "ShopId (storeHash)",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create Customer",
        "operationId": "createCustomer",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerRequest"
              }
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "name": "shopifyId",
            "in": "query",
            "description": "If Shopify, a matching shopifyId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bigcommerceId",
            "in": "query",
            "description": "If BigCommerce, a matching bigcommerceId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customCustomerId",
            "in": "query",
            "description": "If other platform, a matching customCustomerId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "A begins with email match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "firstName",
            "in": "query",
            "description": "A begins with firstName match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastName",
            "in": "query",
            "description": "A begins with lastName match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastFirst",
            "in": "query",
            "description": "Match by lastName first",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "datePlatformCreated",
            "in": "query",
            "description": "Date parsable minimum range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datePlatformCreatedEnd",
            "in": "query",
            "description": "Date parsable maximum range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reviewsMin",
            "in": "query",
            "description": "Minimum number of reviews range",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "reviewsMax",
            "in": "query",
            "description": "Maximum number of reviews range",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "pointsMin",
            "in": "query",
            "description": "Minimum number of points range",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "pointsMax",
            "in": "query",
            "description": "Maximum number of points range",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "vipTier",
            "in": "query",
            "description": "Matching vipTier",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Customer tags",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "tags": [
          "Customers"
        ],
        "summary": "Filter Customers",
        "operationId": "filterCustomers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedCustomers"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/merchant/shops/{shopId}/orders": {
      "parameters": [
        {
          "name": "shopId",
          "in": "path",
          "description": "ShopId (storeHash)",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create Order",
        "operationId": "createOrder",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Filter Orders",
        "operationId": "filterOrders",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaginatedOrders"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/merchant/shops/{shopId}/products": {
      "parameters": [
        {
          "name": "shopId",
          "in": "path",
          "description": "ShopId (storeHash)",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Create Product",
        "operationId": "createProduct",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductRequest"
              }
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "name": "shopifyId",
            "in": "query",
            "description": "Shopify Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bigcommerceId",
            "in": "query",
            "description": "Bigcommerce Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customProductId",
            "in": "query",
            "description": "Custom Product Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publishedScope",
            "in": "query",
            "description": "Published Scope",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Product status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Product title",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vendor",
            "in": "query",
            "description": "Product vendor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Product type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "handle",
            "in": "query",
            "description": "Product handle",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Product tags",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "tags": [
          "Products"
        ],
        "summary": "Filter Products",
        "operationId": "filterProducts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaginatedProducts"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/merchant/shops/{shopId}/customers/{customerId}": {
      "parameters": [
        {
          "name": "shopId",
          "in": "path",
          "description": "The shopId, or storeHash associated with Stamped account",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "customerId",
          "in": "path",
          "description": "The customerId generated by Stamped on customer creation",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete Customer",
        "operationId": "deleteCustomer",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "softDelete": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get Customer",
        "operationId": "getCustomer",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Customers"
        ],
        "summary": "Update Customer",
        "operationId": "updateCustomer",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerRequest"
              }
            }
          }
        }
      }
    },
    "/api/v3/merchant/shops/{shopId}/orders/{orderId}": {
      "parameters": [
        {
          "name": "shopId",
          "in": "path",
          "description": "The shopId, or storeHash associated with Stamped account",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "orderId",
          "in": "path",
          "description": "The orderId generated by Stamped on order creation",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "tags": [
          "Orders"
        ],
        "summary": "Delete Order",
        "operationId": "deleteOrder",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "softDelete": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get Order",
        "operationId": "getOrder",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Orders"
        ],
        "summary": "Update Order",
        "operationId": "updateOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCartRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/merchant/shops/{shopId}/products/{productId}": {
      "parameters": [
        {
          "name": "shopId",
          "in": "path",
          "description": "The shopId, or storeHash associated with Stamped account",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "productId",
          "in": "path",
          "description": "The productId generated by Stamped on product creation",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "tags": [
          "Products"
        ],
        "summary": "Delete Product",
        "operationId": "deleteProduct",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "softDelete": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get Product",
        "operationId": "getProduct",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Products"
        ],
        "summary": "Update Product",
        "operationId": "updateProduct",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductRequest"
              }
            }
          }
        }
      }
    },
    "/api/v3/merchant/shops/{shopId}/customers/lookup": {
      "parameters": [
        {
          "name": "shopId",
          "in": "path",
          "description": "The shopId, or storeHash associated with Stamped account",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "query",
          "name": "email",
          "schema": {
            "type": "string"
          },
          "description": "Email to lookup customer by"
        },
        {
          "in": "query",
          "name": "customCustomerId",
          "description": "Custom CustomerId to lookup customer by",
          "required": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "query",
          "name": "shopifyId",
          "description": "If Shopify, a matching shopifyId",
          "required": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "query",
          "name": "bigcommerceId",
          "description": "If BigCommerce, a matching bigcommerceId",
          "required": false,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Lookup Customer",
        "operationId": "lookupCustomer",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/merchant/shops/{shopId}/orders/lookup": {
      "parameters": [
        {
          "name": "shopId",
          "in": "path",
          "description": "The shopId, or storeHash associated with Stamped account",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "query",
          "name": "customOrderId",
          "schema": {
            "type": "string"
          },
          "description": "Custom OrderId to lookup Order by"
        },
        {
          "in": "query",
          "name": "shopifyId",
          "description": "If Shopify, a matching shopifyId",
          "required": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "query",
          "name": "bigcommerceId",
          "description": "If BigCommerce, a matching bigcommerceId",
          "required": false,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Lookup Order",
        "operationId": "lookupOrder",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/merchant/shops/{shopId}/products/lookup": {
      "parameters": [
        {
          "name": "shopId",
          "in": "path",
          "description": "The shopId, or storeHash associated with Stamped account",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "query",
          "name": "customProductId",
          "schema": {
            "type": "string"
          },
          "description": "Custom ProductId to lookup product by"
        },
        {
          "in": "query",
          "name": "shopifyId",
          "description": "If Shopify, a matching shopifyId",
          "required": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "query",
          "name": "bigcommerceId",
          "description": "If BigCommerce, a matching bigcommerceId",
          "required": false,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Lookup Product",
        "operationId": "lookupProduct",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "StampedApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "stamped-api-key"
      }
    },
    "schemas": {
      "CustomerRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "customCustomerId": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string"
          },
          "datePlatformUpdated": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerAddress"
            }
          }
        }
      },
      "CustomerResponse": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "shopId": {
            "type": "string"
          },
          "shopifyId": {
            "type": "string"
          },
          "bigcommerceId": {
            "type": "string"
          },
          "customCustomerId": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "datePlatformUpdated": {
            "type": "string"
          },
          "datePlatformCreated": {
            "type": "string"
          },
          "dateStampedUpdated": {
            "type": "string"
          },
          "dateStampedCreated": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "referralCode": {
            "type": "string"
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerAddress"
            }
          },
          "deleted": {
            "type": "string"
          },
          "dateDeleted": {
            "type": "string"
          },
          "notifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerNotification"
            }
          },
          "unsubscribed": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "activity": {
            "$ref": "#/components/schemas/CustomerActivity"
          }
        }
      },
      "CustomerAddress": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "address1": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "province": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "default": {
            "type": "string"
          }
        }
      },
      "CustomerNotification": {
        "type": "object",
        "properties": {
          "notificationType": {
            "type": "string"
          },
          "referenceId": {
            "type": "string"
          },
          "dateNotified": {
            "type": "string"
          }
        }
      },
      "CustomerActivity": {
        "type": "object",
        "properties": {
          "vipTier": {
            "type": "string"
          },
          "dateVipTierUpdated": {
            "type": "string"
          },
          "totalPoints": {
            "type": "string"
          },
          "dateTotalPointsUpdated": {
            "type": "string"
          },
          "totalAffiliateOrders": {
            "type": "string"
          },
          "dateAffiliateOrdersUpdated": {
            "type": "string"
          },
          "totalReviews": {
            "type": "string"
          },
          "dateReviewsUpdated": {
            "type": "string"
          }
        }
      },
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "OrderRequest": {
        "type": "object",
        "properties": {
          "customOrderId": {
            "type": "string"
          },
          "customCustomerId": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "cart": {
            "$ref": "#/components/schemas/OrderCartRequest"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "OrderResponse": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "shopId": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "shopifyId": {
            "type": "string"
          },
          "bigcommerceId": {
            "type": "string"
          },
          "customOrderId": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "referringSite": {
            "type": "string"
          },
          "sourceName": {
            "type": "string"
          },
          "sourceUrl": {
            "type": "string"
          },
          "clientAcceptLanguage": {
            "type": "string"
          },
          "clientUserAgent": {
            "type": "string"
          },
          "clientIp": {
            "type": "string"
          },
          "datePlatformCreated": {
            "type": "string"
          },
          "datePlatformUpdated": {
            "type": "string"
          },
          "dateStampedCreated": {
            "type": "string"
          },
          "dateStampedUpdated": {
            "type": "string"
          },
          "orderEntries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderEntry"
            }
          },
          "cartStates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderCart"
            }
          },
          "discountApplications": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "OrderCartRequest": {
        "type": "object",
        "properties": {
          "lineItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CartItemRequest"
            }
          },
          "financialStatus": {
            "type": "string"
          },
          "fulfillmentStatus": {
            "type": "string"
          },
          "discountsApplied": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DiscountApplied"
            }
          },
          "shopCurrency": {
            "type": "string"
          },
          "shopPriceDiscountTotal": {
            "type": "string"
          },
          "shopPriceItemsTotal": {
            "type": "string"
          },
          "shopPriceSubTotal": {
            "type": "string"
          },
          "shopPriceTotal": {
            "type": "string"
          },
          "shopPriceShipping": {
            "type": "string"
          },
          "shopPriceTax": {
            "type": "string"
          }
        }
      },
      "OrderCart": {
        "type": "object",
        "properties": {
          "lineItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CartItem"
            }
          },
          "financialStatus": {
            "type": "string"
          },
          "fulfillmentStatus": {
            "type": "string"
          },
          "discountsApplied": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DiscountApplied"
            }
          },
          "customerCurrency": {
            "type": "string"
          },
          "customerPriceDiscountTotal": {
            "type": "string"
          },
          "customerPriceItemsTotal": {
            "type": "string"
          },
          "customerPriceSubTotal": {
            "type": "string"
          },
          "customerPriceTotal": {
            "type": "string"
          },
          "customerPriceShipping": {
            "type": "string"
          },
          "customerPriceTax": {
            "type": "string"
          },
          "shopCurrency": {
            "type": "string"
          },
          "shopPriceDiscountTotal": {
            "type": "string"
          },
          "shopPriceItemsTotal": {
            "type": "string"
          },
          "shopPriceSubTotal": {
            "type": "string"
          },
          "shopPriceTotal": {
            "type": "string"
          },
          "shopPriceShipping": {
            "type": "string"
          },
          "shopPriceTax": {
            "type": "string"
          }
        }
      },
      "CartItem": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string"
          },
          "variantId": {
            "type": "string"
          },
          "customProductId": {
            "type": "string"
          },
          "customVariantId": {
            "type": "string"
          },
          "shopifyProductId": {
            "type": "string"
          },
          "shopifyVariantId": {
            "type": "string"
          },
          "bigcommerceProductId": {
            "type": "string"
          },
          "bigcommerceVariantId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "giftCard": {
            "type": "string"
          },
          "quantity": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "variantTitle": {
            "type": "string"
          },
          "fulfillmentStatus": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "taxable": {
            "type": "string"
          }
        }
      },
      "CartItemRequest": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string"
          },
          "variantId": {
            "type": "string"
          },
          "customProductId": {
            "type": "string"
          },
          "customVariantId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "giftCard": {
            "type": "string"
          },
          "quantity": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "variantTitle": {
            "type": "string"
          },
          "fulfillmentStatus": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "taxable": {
            "type": "string"
          }
        }
      },
      "OrderEntry": {
        "type": "object",
        "properties": {
          "cartHash": {
            "type": "string"
          },
          "event": {
            "type": "string"
          },
          "date": {
            "type": "string"
          }
        }
      },
      "DiscountApplied": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "ProductRequest": {
        "type": "object",
        "properties": {
          "customProductId": {
            "type": "string"
          },
          "publishedScope": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "htmlProductDescription": {
            "type": "string"
          },
          "vendor": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "handle": {
            "type": "string"
          },
          "datePublished": {
            "type": "string"
          },
          "datePlatformUpdated": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductVariantRequest"
            }
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductImage"
            }
          }
        }
      },
      "ProductResponse": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "shopId": {
            "type": "string"
          },
          "shopifyId": {
            "type": "string"
          },
          "bigcommerceId": {
            "type": "string"
          },
          "customProductId": {
            "type": "string"
          },
          "publishedScope": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "htmlProductDescription": {
            "type": "string"
          },
          "vendor": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "handle": {
            "type": "string"
          },
          "datePublished": {
            "type": "string"
          },
          "datePlatformCreated": {
            "type": "string"
          },
          "datePlatformUpdated": {
            "type": "string"
          },
          "dateStampedCreated": {
            "type": "string"
          },
          "dateStampedUpdated": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductVariantResponse"
            }
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductImage"
            }
          }
        }
      },
      "ProductVariantResponse": {
        "type": "object",
        "properties": {
          "customVariantId": {
            "type": "string"
          },
          "shopifyVariantId": {
            "type": "string"
          },
          "bigcommerceVariantId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "position": {
            "type": "string"
          },
          "taxable": {
            "type": "string"
          },
          "barcode": {
            "type": "string"
          },
          "grams": {
            "type": "string"
          },
          "weight": {
            "type": "string"
          },
          "weightUnit": {
            "type": "string"
          },
          "requiresShipping": {
            "type": "string"
          },
          "inventoryPolicy": {
            "type": "string"
          },
          "inventoryManagement": {
            "type": "string"
          },
          "inventoryQuantity": {
            "type": "string"
          }
        }
      },
      "ProductVariantRequest": {
        "type": "object",
        "properties": {
          "customVariantId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "position": {
            "type": "string"
          },
          "taxable": {
            "type": "string"
          },
          "barcode": {
            "type": "string"
          },
          "weight": {
            "type": "string"
          },
          "weightUnit": {
            "type": "string"
          },
          "requiresShipping": {
            "type": "string"
          },
          "inventoryQuantity": {
            "type": "string"
          }
        }
      },
      "ProductImage": {
        "type": "object",
        "properties": {
          "variantMatches": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "position": {
            "type": "string"
          },
          "altText": {
            "type": "string"
          },
          "width": {
            "type": "string"
          },
          "height": {
            "type": "string"
          },
          "urlSrc": {
            "type": "string"
          }
        }
      },
      "PaginatedCustomers": {
        "type": "object",
        "properties": {
          "page": {
            "type": "number"
          },
          "limit": {
            "type": "number"
          },
          "morePages": {
            "type": "boolean"
          },
          "subset": {
            "type": "boolean"
          },
          "customers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerResponse"
            }
          }
        }
      },
      "PaginatedOrders": {
        "type": "object",
        "properties": {
          "page": {
            "type": "number"
          },
          "limit": {
            "type": "number"
          },
          "morePages": {
            "type": "boolean"
          },
          "subset": {
            "type": "boolean"
          },
          "orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderResponse"
            }
          }
        }
      },
      "PaginatedProducts": {
        "type": "object",
        "properties": {
          "page": {
            "type": "number"
          },
          "limit": {
            "type": "number"
          },
          "morePages": {
            "type": "boolean"
          },
          "subset": {
            "type": "boolean"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductResponse"
            }
          }
        }
      }
    }
  }
}